footer {
    display: flex;
    justify-content: space-around;
    background-color: #ffce30;
    width: 100%;
    height: 17vw;
    margin-top: 8vh;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}
footer div h3 {
    font-size: 2.6vw;
    text-align: center;
    text-decoration: underline;
}
footer .icons div{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1vw;
}